################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# directories vs
**/bin
**/obj
**/v17
/.vs/PlutoRover.Api/DesignTimeBuild/.dtbcache.v2
